body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#fdffff
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    color: #ff8282;
    font-size: 60px;
    margin:auto;
    line-height: 4;
    
}

.insulte{
        color: #b40f0f;
}

.gentillesse{
    color:#ff8282
}


input{    
    font-family: 'Bitter', serif;
    font-size: 24px;
    

}
#insulte input{
    display: flex;
    width: 340px;
    height: 55px;
    background: #b40f0f;
}

#gentillesse input{
    display: flex;
    width: 340px;
    height: 55px;
    background: #ff8282;
;
}
