body{
    background:#fdffff
}

h1{
    font-family: 'Bitter', serif;
    color: #ff8282;
    font-size: 60px;
    margin:auto;
    padding:2em 0;
}
section{
    text-align:center;
    padding:5em 0;
    font-size: 28px;
    font-weight: 700;
}
section.question{
    float:left;
    width:50%;
}
section.reponse{
    font-size: 45px;
    font-weight: 700;
}
.insulte{
        color: #b40f0f;
        font-family: 'Bitter', serif;
        background: black;
        
}

.gentillesse{
    color:#ff8282;
    font-family: 'Bitter', serif;
}
i.fa{
font-size:60vh;
}

input{    
    font-family: 'Bitter', serif;
    outline:none;
    border:solid 1px #777;
    font-size:17px;
    line-height: 30px;
    padding:0 5px;
    border-radius:2px;
}

body:not(.question) section.question{
    display:none;
}